
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Potta+One&display=swap');

body {
    background-color: #f5f6fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main h1 {
    font-family: "Potta One", cursive;
    font-size: 4rem;
    text-align: center;
}